.api_access
{
  padding: 10px;
  background-color: white;
}

.api_access .info,
.api_access form
{
  padding: 10px;
}

.loading
{
  width: 120px;
  height: 6px;
  margin: 0;
  background-repeat: no-repeat;
  background-image: url('/wp-includes/js/thickbox/loadingAnimation.gif');
  background-position: -3px -2px;
}

.loading > *
{
  display: none;
}

.key,
.pairing
{
  margin: 0 0 1.5em 0;
}

.qrtext
{
  border: 0 none !important;
  font-size: 1.1em;
  letter-spacing: 2px;
  background-color: transparent;
  padding: 1em 0;
}

.qrcode
{
  width: 130px;
  height: 130px;
  padding: 5px;
  margin: 0.5em 0 0.5em 0;
  background-color: white;
}

.gnb
{
  height: 5px;
  line-height: 5px;
  vertical-align: top;
  position: fixed;
  z-index: 99999;
  top: 45px;
  left: 0px;
  width: 5px;
}
.gnb.active
{
  background-color: lightgreen;
}
.gnb.unread
{
  background-color: yellow;
}

.pairing .link input
{
  width: 90%;
}

.pairing .qr
{
  margin: 0 0 1em 0;
}
